@tailwind base;
@tailwind components;

@layer base {
  /* :root {
    --color-primary: #e2ad28;
    --color-secondary: #6BA4EB;
    --color-accent: #93d507;
    --color-background: #EDEDED;
    --color-background2: #b3b3b3;
    --color-text: #080807;
    --color-text-secondary: #F8F8F7;
  }

  :root[class~="dark"] {
    --color-primary: #D7A31d;
    --color-secondary: #144E94;
    --color-accent: #b7f82a;
    --color-background: #212121;
    --color-background2: #121212;
    --color-text: #F8F8F7;
    --color-text-secondary: #080807;
  } */

  /* TODO: make the website usable in light and darkmode*/
  :root {
    --color-primary: #D7A31d;
    --color-secondary: #144E94;
    --color-accent: #b7f82a;
    --color-background: #212121;
    --color-background2: #121212;
    --color-text: #F8F8F7;
    --color-text-secondary: #080807;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;

  @apply bg-background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind utilities;

.boldheader1{
  @apply text-7xl font-bold font-poppins;
}
.boldheader2{
  @apply text-6xl font-bold font-poppins;
}
.boldheader3{
  @apply text-5xl font-bold font-poppins;
}
.boldheader4{
  @apply text-4xl font-bold font-poppins;
}

.semiboldheader1{
  @apply text-5xl font-semibold font-inter;
}
.semiboldheader2{
  @apply text-3xl font-semibold font-inter;
}
.semiboldheader3{
  @apply text-2xl font-semibold font-inter;
}
.semiboldheader4{
  @apply text-lg font-semibold font-inter;
}

.basetext{
  @apply text-base font-inter;
}
.boldbasetext{
  @apply text-base font-bold font-inter;
}
.navbarlinks{
  @apply text-lg font-inter;
}
.footertext{
  @apply text-xs font-inter;
}

.strokeStat{
  -webkit-text-stroke: 3px var(--color-primary);
  font-style: normal;
  color: var(--color-background2);
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 0;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.inputField{
  @apply bg-background border-2 border-clr_primary rounded-md p-1 text-text;
}
.instruction::after {
  content: url('./img/ArrowDown.svg');
  display: block;
  max-width: 48px;
  max-height: 16px;
  margin-left: auto;
  margin-right: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000099;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 35rem;
  height: auto;
  transform: translate(-50%, -50%);
  background: var(--color-background2);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 3px #00000099;
  display: flex;
  flex-direction: column;
  align-content: center;
}